{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["airbnb", "prettier"],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 100
      }
    ]
  }
}
